#emailItem, #passwordItem, #newPasswordItem {
  --background: lightgrey;
  border-radius: 10px;
  margin: 2px;
}

#submitButton, #cancelButton {
  --background: lightgrey;
  font-family: "BankGothic Lt BT", serif;
}
