<ion-content>
  <form (ngSubmit)="editPassword()" #editForm="ngForm">
    <ion-item id="emailItem" lines="none">
      <ion-input
        disabled="true"
        type="text"
        name="Email"
        [(ngModel)]="userData.userEmail"
      ></ion-input>
    </ion-item>
    <ion-item id="passwordItem" lines="none">
      <ion-input
        required="true"
        type="password"
        placeholder="Old password"
        name="oldPassword"
        [(ngModel)]="passwordData.oldPassword"
      ></ion-input>
    </ion-item>
    <ion-item id="newPasswordItem" lines="none">
      <ion-input
        required="true"
        type="password"
        placeholder="New password"
        name="newPassword"
        [(ngModel)]="passwordData.newPassword"
      ></ion-input>
    </ion-item>
    <ion-item id="btnItem" lines="none">
      <ion-button id="submitButton" type="submit" [disabled]="editForm.invalid">Submit</ion-button>
      <ion-button id="cancelButton" type="button" (click)="closeModal()">Cancel</ion-button>
    </ion-item>
  </form>
</ion-content>
