<ion-content>
  <ion-item>
    <ion-label>Name of Purchase:</ion-label>
    <ion-input [(ngModel)]="item.name" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Quantity:</ion-label>
    <ion-input [(ngModel)]="item.quantity" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Cost:</ion-label>
    <ion-input [(ngModel)]="item.price" type="number"></ion-input>
  </ion-item>
  <ion-button (click)="updateItem()">Update</ion-button>
  <ion-button (click)="deleteItem()">Delete</ion-button>
</ion-content>
