ion-toolbar.toolbar {
    display: flex;
    max-height: 70px;
    min-width: 850px;
}

.logo{
    background-image: url("src/assets/images/budgit-logo.jpg");
    background-size: cover;
    font-size: 120%;
    height: 50px;
    width: 110px;
    --background: transparent;
    margin-left: 25px;
    border-radius: 10px;
}

#logo-name {
    color: white;
    font-family: "BankGothic Lt BT", serif;
}

.homeBtn {
  --background: lightgrey;
  font-family: "BankGothic Lt BT", serif;
  font-size: 120%;
}


.profileBtn{
  --background: lightgray;
  font-family: "BankGothic Lt BT", serif;
  font-size: 120%;
}

.budgetBtn{
  --background: lightgray;
  font-family: "BankGothic Lt BT", serif;
  font-size: 120%;

}



.loginBtn{
    --background: darkred;
    font-family: "BankGothic Lt BT", serif;
    font-size: 120%;

}


.header {
    min-width: 850px;
}





