<ion-header class="header">
  <ion-toolbar class="toolbar">
    <ion-item slot="start" class="logo">
      <ion-label id="logo-name">Budg'it</ion-label>
    </ion-item>
    <ion-button class="homeBtn" routerLink="/"><ion-icon id="homee" slot="start" name="home"></ion-icon>Home</ion-button>
    <ion-button class="profileBtn" routerLink="/profile"><ion-icon slot="start" name="person-outline"></ion-icon>Profile</ion-button>
    <ion-button class="budgetBtn" routerLink="/budget"><ion-icon slot="start" name="cash-outline"></ion-icon>Budget</ion-button>
    <ion-button class="loginBtn" slot="end" (click)="toggleLoginStatus()"><ion-icon slot="end" name="log-out"></ion-icon>
      {{ dataService.isLoggedIn ? 'Log Out' : 'Log In' }}
    </ion-button>
  </ion-toolbar>
</ion-header>






