<p id="request">Enter E-mail address to reset password:</p>

<div class="reset-box">
  <form (ngSubmit)="reset()">
    <ion-item>
      <ion-input
        required="true"
        class="user-email"
        type="text"
        placeholder="Email"
        name="email"
        [(ngModel)]="resetModel.email"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-button (click)="onCancelClick()" id="cancelSend" type="button"
        >Cancel
      </ion-button>
    </ion-item>

    <ion-item>
      <ion-button id="send" type="submit">Send </ion-button>
    </ion-item>
  </form>
</div>
