<ion-content class="login-view">
    <form (ngSubmit)="login()" #loginForm="ngForm">
    <ion-item class="inputEmail" lines="none">
      <ion-input
        required="true"
        class="login-email"
        type="text"
        placeholder=" Email"
        name="email"
        [(ngModel)]="loginModel.email"

      ></ion-input>
    </ion-item>
    <ion-item class="inputPassword" lines="none">
      <ion-input
        required="true"
        class="login-password"
        type="password"
        placeholder=" Password"
        name="password"
        [(ngModel)]="loginModel.password"

      ></ion-input>
    </ion-item>
        <ion-item class="inputLogin" lines="none">
      <ion-button class="loginHome" type="submit" [disabled]="loginForm.invalid">Login</ion-button>
    </ion-item>
  </form>

  <ion-button class="register" (click)="registrationModal()">Register new user</ion-button>
</ion-content>
