<ion-content>
    <form (ngSubmit)="login()">
    <ion-item>
      <ion-input
        required="true"
        class="login-email"
        type="text"
        placeholder="Email"
        name="email"
        [(ngModel)]="loginModel.email"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        required="true"
        class="login-password"
        type="password"
        placeholder="Password"
        name="password"
        [(ngModel)]="loginModel.password"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-button type="submit">Login</ion-button>
    </ion-item>
  </form>

  <a [routerLink]="['/register']">Register new user</a>
</ion-content>
