<ion-content>
  <form (ngSubmit)="editUser()">
    <ion-item>
      <ion-input
        required="true"
        type="text"
        placeholder="Name"
        name="Name"
        [(ngModel)]="editModel.Name"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        required="true"
        type="text"
        placeholder="Lastname"
        name="Lastname"
        [(ngModel)]="editModel.Lastname"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        required="true"
        type="text"
        placeholder="Username"
        name="Username"
        [(ngModel)]="editModel.Username"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        required="true"
        type="text"
        placeholder="email"
        name="email"
        [(ngModel)]="editModel.email"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        required="true"
        type="text"
        placeholder="University"
        name="University"
        [(ngModel)]="editModel.University"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        required="true"
        type="text"
        placeholder="Birthday"
        name="Birthday"
        [(ngModel)]="editModel.Birthday"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-button type="submit">Submit</ion-button>
      <ion-button type="button" (click)="closeModal()">Cancel</ion-button>
    </ion-item>
  </form>


</ion-content>
