<ion-grid [fixed]="true"  *ngIf="user">
<ion-row >
  <ion-col size="6">
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
  </ion-col>
</ion-row>
  <ion-row>
    <ion-col size="4">
      Name: {{ user.Name }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
      Lastname: {{ user.Lastname }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
      Username: {{ user.Username }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
      E-mail: {{ user.Email }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
      University: {{ user.University }}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="4">
      Birthday: {{ user.Birthday }}
    </ion-col>
  </ion-row>
  <ion-button  (click)="changeInfo()"> Edit </ion-button>
</ion-grid>


