.profileView {
    background-image: url("src/assets/images/budget-background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 850px;
}

.profileGrid {
    max-width: 400px;
    padding-top: 100px;
}

.avatarRow {
    display: flex;
    justify-content: center;
}

#avatarCol {
    display: flex;
    background-size: cover;

}

#avatar {
    height: 100px;
    width: 100px;
}

.nameRow, .lastNameRow, .userRow, .emailRow, .uniRow, .birthRow {
    justify-content: center;
    font-family: "BankGothic Lt BT", serif;
}


#nameCol, #lastNameCol, #userCol, #emailCol, #uniCol, #birthCol {
    min-width: 300px;
}
