<p id="request">Enter E-mail address to reset password:</p>

<div class="reset-box">
  <form (ngSubmit)="reset()">
    <ion-item>
      <ion-input
        required="true"
        class="user-email"
        type="text"
        placeholder="Email"
        name="email"
      ></ion-input>
    </ion-item>

  <!--<ion-item>
    <ion-button id="send" type="submit">Send</ion-button>
  </ion-item>

  <ion-item>
    <ion-button id="cancelSend" type="button">Cancel</ion-button>
  </ion-item>
  -->

    <p id="statement">If the E-Mail was not received press:</p>
    <ion-button
      id="reSend" type="button">Try again
    </ion-button>

      <ion-item>
        <ion-button
          (click)="onCancelClick()" id="cancelSend" type="button">Cancel
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-button
          id="send" type="button">Send
        </ion-button>
      </ion-item>

  </form>

</div>
