<div class="welcome-box">
  <p id="helloUser">
    welcome, {{ dataService.isUsername}}
  </p>
  <ion-grid class="grid-home">
    <ion-row class="ion-justify-content-center">
      <ion-col id="contentOne" >
        <div class="container-1">
          <p id="infoText">
          Introducing Budg'it, your comprehensive financial companion designed to empower you in achieving your financial goals with ease and efficiency. <br>
          <br>
            Our user-centric budget app is crafted to simplify the complexities of personal finance, <br>
            catering to users across diverse backgrounds and financial aspirations.<br>
            <br>
            Our 3 key features for Budg'it are:<br>
          </p>
       </div>
     </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="grid-home">
    <ion-row class="oneOfthree">
      <ion-col id="contentTwo">
      <div class="container-2">
        <ion-item id="simple" lines="none">
        </ion-item>
        <h2 id="simpleTitle">
          1. Simplified Budgeting:
        </h2>
        <p id="simpleText">
          Experience hassle-free budgeting with our intuitive interface, ensuring users of all financial literacy levels can navigate their financial landscape effortlessly.
        </p>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="grid-home">
    <ion-row class="twoOfthree">
      <ion-col id="contentThree">
        <div class="container-3">
          <ion-item id="real-time" lines="none">
          </ion-item>
          <h2 id="realTitle">
            2. Real-Time Insights:
          </h2>
          <p id="realText">
            Stay informed with real-time updates on your spending patterns, income trends, and overall financial health. Our automated tracking ensures accuracy and transparency in every financial decision.
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="grid-home">
    <ion-row class="threeOfthree">
      <ion-col id="contentFour">
        <div class="container-4">
          <ion-item id="innovation" lines="none">
          </ion-item>
          <h2 id="innoTitle">
            3. Innovation in Financial Planning:
          </h2>
          <p id="innoText">
            Stay ahead in your financial planning journey with our commitment to innovation. Budg'it integrates cutting-edge features such as predictive analytics, smart budgeting tools, and more to empower you with the latest advancements.
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="grid-home">
    <ion-row class="how-to">
      <ion-col id="contentFive">
        <div class="container-5">
          <h2 id="howToTitleOne">
            Getting Started:
          </h2>
          <h3 id="howToTitleTwo">
            Registration:
          </h3>
          <p id="howToTextOne">
            Follow the easy registration process in the login to set up your personalized financial dashboard.
          </p>
          <h3 id="howToTitleThree">
            Authorization:
          </h3>
          <p id="howToTextTwo">
            Budg'it prioritizes data security and employs state-of-the-art encryption to safeguard your information.
          </p>
          <h3 id="howToTitleFour">
            Create Your Budget:
          </h3>
          <p id="howToTextThree">
            Create a customized budget that aligns with your aspirations. Budg'it guides you through the process, ensuring simplicity and clarity in every step.
          </p>
          <h3 id="howToTitleFive">
            Explore Features:
          </h3>
          <p id="howToTextFour">
            Dive into the various features. Discover how Budg'it can elevate your financial planning experience.
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</div>
